/* Contacts section */
.contacts_section {
  background: #EDF2EC;
}

.contacts_section_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.contacts_section_header {
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 700;
  color: #499A18;
}

.contacts_section_btn {
  background: #D6E7D2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.contacts_section_btn:hover {
  cursor: pointer;
}

.contacts_section_btn_arrow.open {
  display: none;
}

.contacts_section_btn:active {
  box-shadow: none;
  background: #C1E698;
  border: 1px solid #D6E7D2;
}

.contacts_section_btn:active .contacts_section_btn_arrow.closed {
  display: none;
}

.contacts_section_btn:active .contacts_section_btn_arrow.open {
  display: block;
}

.contacts_section_btn.open {
  box-shadow: none;
  background: #C1E698;
  border: 1px solid #D6E7D2;
}

.contacts_section_btn.open .contacts_section_btn_arrow.closed {
  display: none;
}

.contacts_section_btn.open .contacts_section_btn_arrow.open {
  display: block;
}

.contacts_section_btn.open ~ .contacts_section_btn_options {
  max-height: 1500px;
  padding: 25px 35px 30px 35px;
}

.contacts_section_btn.selected {
  box-shadow: none;
  background: #C1E698;
  border: 1px solid #D6E7D2;
}

.contacts_section_btn.selected ~ .contacts_section_content {
  max-height: 1500px;
  padding: 25px 35px;
  border: 1px solid #000000;
  border-radius: 20px;
}

.contacts_section_btn_text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}

.contacts_section_btn.selected .contacts_section_btn_text {
  font-size: 16px;
}

.contacts_section_btn_img {
  width: 16px;
  height: 16px;
  background: #AEA1A1; /* text:hover #717171 text #499A18 line #D9D9D9*/
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts_section_btn_options {
  max-height: 0;
  padding: 0 35px;
  background: #DCE9D9;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #499A18;
  overflow: hidden;
  transition: 1s;
}

.contacts_section_btn_optionsItem {
  border-bottom: 1px solid #D9D9D9;
}

.contacts_section_btn_optionsItem:hover {
  cursor: pointer;
  color: #717171;
  border-bottom: 1px solid #717171;
}

.contacts_section_content {
  display: flex;
  max-height: 0;
  flex-direction: column;
  background: #EDF2EC;
  padding: 0 35px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  overflow: hidden;
  transition: 1s;
}

.contacts_section_content_header {
  color: #000000;
  padding-right: 10px;
}

.contacts_section_content_callUs_btn {
  align-self: center;
  margin-top: 20px;
  width: 120px;
  height: 26px;
  background: #EDF2EC;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #717171;
  transition: 1s;
}

.contacts_section_content_callUs_btn:hover {
  cursor: pointer;
  color: #FFFFFF;
  background: #E06733;
}