/* Footer styles */
.footer {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__github {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__github * {
  margin-right: 20px;
}

.footer__github_link {
  text-decoration: none;
  color: #000000;
}

.footer__rsschool_link {
  text-decoration: none;
  color: #000000;
}

.footer__icons {
  list-style: none;
  width: 188px;
  height: 50px;
  padding-left: 0;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__icons_img {
  width: 32px;
  height: 32px;
}