@media (min-width: 1320px) {
  .width_wrapper {
    max-width: 1222px;
  }

  .header {
    padding: 42px 109px 42px 111px;
  }

  .header__nav_menu {
    width: 452px;
    line-height: 50px;
  }

  .header__nav_burger {
    display: none;
  }

  /* Title section */
  .title_section {
    padding: 60px 109px 64px 109px;
    font-size: 20px;
    line-height: 35px;
  }

  .title_section_wrapper {
    align-items: flex-end;
  }

  .title_section_header {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 5px;
  }

  .title_section_img {
    width: 450px;
    height: 408px;
  }

  .title_section_text {
    max-width: 549px;
  }

  .title_section_header_button {
    width: 158px;
    margin-top: 4px;
    margin-bottom: 31px;
    height: 32px;
    font-size: 16px;
  }

  /* About section */
  .about_section {
    padding: 93px 109px 94px 109px;
  }

  .about_section_wrapper {
    justify-content: space-between;
    align-items: center;
  }

  .about_section_text {
    max-width: 605px;
    padding-top: 10px;
  }

  .about_section_header {
    max-width: 463px;
    margin-bottom: 38px;
    font-size: 40px;
    line-height: 52px;
  }

  .about_section_description {
    font-size: 20px;
    line-height: 30px;
  }

  .about_section_img {
    width: 465px;
    height: 479px;
  }

  /* Service section */
  .service_section {
    padding: 40px 109px 40px 109px;
  }

  .service_section_headerWrapper {
    margin-bottom: 80px;
  }

  .service_section_header {
    max-width: 305px;
    margin-right: 140px;
    font-size: 40px;
    line-height: 52px;
  }

  .service_section_nav_menu {
    width: 561px;
    padding: 1px 0 0 2px;
    justify-content: space-between;
  }

  .service_section_nav_menu_item_button {
    width: 161px;
    height: 50px;
    font-size: 20px;
    line-height: 26px;
  }

  .service_section_contentWrapper {
    margin-bottom: 25px;
    justify-content: space-between;
  }

  .service_section_content_item {
    width: 330px;
    height: 450px;
    margin-bottom: 55px;
  }

  .service_section_content_item_header {
    margin: 10px auto 15px auto;
  }

  .service_section_content_item_description {
    margin-bottom: 35px;
  }

  /* Price Section */
  .price_section {
    padding: 40px 109px 40px 109px;
  }

  .price_section_wrapper {
    justify-content: space-between;
  }

  .price_section_prices_header {
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 48px;
  }

  .price_section_prices_content {
    width: 332px;
    padding: 19px 0 17px 0;
  }

  .price_section_prices_content_item {
    width: 250px;
    padding: 15px 40px;
  }

  .price_section_prices_content_item_name {
    font-size: 20px;
  }

  .price_section_contactWrapper {
    max-width: 455px;
    align-items: flex-end;
  }

  .price_section_contact_header {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
  }

  .price_section_contact_btn {
    width: 162px;
    height: 50px;
    font-size: 20px;
    line-height: 26px;
  }

  .price_section_contact_img {
    margin-top: 40px;
    margin-bottom: 75px;
  }

  /* Contacts section */
  .contacts_section {
    padding: 53px 109px 0 109px;
  }

  .contacts_section_wrapper {
    justify-content: space-between;
    align-items: flex-start;
  }

  .contacts_section_img {
    width: 400px;
    height: 495px;
  }

  .contacts_section_header {
    margin-left: 45px;
    margin-top: 7px;
    font-size: 40px;
    line-height: 52px;
  }

  .contacts_section_select {
    width: 450px;
  }

  .contacts_section_btn {
    margin-top: 95px;
    padding: 0 35px 0 20px;
  }

  .contacts_section_content {
    margin-top: 45px;
  }

  /* Footer styles */
  .footer {
    padding: 40px 109px;
    line-height: 50px;
  }

  .footer__wrapper {
    justify-content: space-between;
    align-items: center;
  }

  .footer__github * {
    margin-right: 20px;
  }
}