@media (min-width: 760px) and (max-width: 1319px) {
  .width_wrapper {
    max-width: 668px;
  }

  .header {
    padding: 35px 0 35px 0;
  }

  /* Title section */
  .title_section {
    padding: 38px 50px 70px 50px;
    font-size: 16px;
    line-height: 25px;
  }

  .title_section_wrapper {
    flex-direction: row-reverse;
  }

  .title_section_header {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .title_section_description {
    margin-left: 5px;
  }

  .title_section_img {
    width: 280px;
    height: 255px;
  }

  .title_section_text {
    max-width: 346px;
  }

  .title_section_header_button {
    margin-top: 35px;
    height: 44px;
  }

  /* About section */
  .about_section {
    padding: 40px 50px 95px 50px;
  }

  .about_section_wrapper {
    justify-content: center;
  }

  .about_section_header {
    width: 423px;
    margin-bottom: 50px;
    font-size: 35px;
    line-height: 46px;
    align-self: center;
    text-align: center;
  }

  .about_section_text {
    display: flex;
    flex-direction: column;
    padding-bottom: 27px;
  }

  .about_section_img {
    width: 250px;
    height: 258px;
    margin-top: 40px;
  }

  /* Service section */
  .service_section {
    padding: 60px 50px 33px 50px;
  }

  .service_section_headerWrapper {
    margin-bottom: 40px;
  }

  .service_section_header {
    max-width: 305px;
    font-size: 35px;
    line-height: 46px;
    margin-bottom: 42px;
  }

  .service_section_nav_menu {
    width: 559px;
    padding: 0;
  }

  .service_section_content_item {
    width: 281px;
    height: 450px;
    margin-bottom: 38px;
  }

  .service_section_content_item_img {
    width: 280px;
    height: 350px;
  }

  .service_section_content_item_header {
    margin: 10px auto;
  }

  .service_section_content_item_description {
    width: 203px;
    text-align: center;
  }

  /* Price Section */
  .price_section {
    padding: 40px 50px 88px 50px;
  }

  .price_section_prices_header {
    font-size: 35px;
    line-height: 42px;
    padding: 0 15px;
    margin-bottom: 57px;
  }

  .price_section_contactWrapper {
    width: 296px;
  }

  .price_section_contact_header {
    margin-top: 100px;
    margin-bottom: 28px;
    font-size: 25px;
    line-height: 35px;
  }

  .price_section_contact_img {
    margin-top: 33px;
  }

  /* Contacts section */
  .contacts_section {
    padding-top: 40px;
  }

  .contacts_section_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contacts_section_img {
    margin-top: 250px;
    margin-left: 20px;
    width: 200px;
    height: 248px;
    order: 2;
  }

  .contacts_section_header {
    margin: 2px 15px 0 15px;
    order: 0;
  }

  .contacts_section_btn {
    margin-top: 98px;
    order: 1;
  }

  /* Footer styles */
  .footer {
    padding: 33px 279px 33px 272px;
    line-height: 24px;
  }

  .footer__wrapper {
    justify-content: center;
    align-items: center;
  }

  .footer__github div {
    margin-right: 20px;
  }

  .footer__github_link {
    margin-right: 0;
    margin-left: 7px;
  }

  .footer__rsschool {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}