/* Price Section */
.price_section_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.price_section_prices_header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.price_section_prices_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.price_section_prices_content_item {
  width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #EDF2EC;
  border-radius: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  transition: 1s;
}

.price_section_prices_content_item.active {
  background: #D6E7D2;
}

.price_section_prices_content_item_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.price_section_prices_content_item_name {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.price_section_prices_content_item_btn {
  width: 16px;
  height: 16px;
}

.price_section_prices_content_item_btn:hover {
  cursor: pointer;
}

.price_section_prices_content_item_btn.open {
  display: none;
}

.price_section_prices_content_item.active .price_section_prices_content_item_btn.open {
  display: block;
}

.price_section_prices_content_item.active .price_section_prices_content_item_btn.closed {
  display: none;
}

.price_section_prices_content_item_description {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}

.price_section_prices_content_item.active .price_section_prices_content_item_description {
  max-height: 150px;
}

.price_section_prices_content_item_line {
  width: 95%;
  height: 0;
  border: 1px solid #AEA1A1;
  margin-top: 10px;
}

.price_section_prices_content_item_descriptionText {
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
  margin: 5px 0;
}

.price_section_prices_content_item_price {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.price_section_prices_content_item_capture {
  font-weight: 700;
  font-size: 16px;
  color: #E06733;
}

.price_section_prices_content_item_button {
  margin-top: 12px;
  width: 86px;
  height: 25px;
  background: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
}

.price_section_prices_content_item_button:hover {
 cursor: pointer;
}

.price_section_contactWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.price_section_contact_header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.price_section_contact_header_capture {
  color: #499A18;
}

.price_section_contact_btn {
  border: 1px solid #E06733;
  border-radius: 5px;
  padding: 0;
  background-color: #FFFFFF;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 700;
  color: #E06733;
  transition: .5s;
}

.price_section_contact_btn:hover {
  cursor: pointer;
  background-color: #E06733;
  color: #FFFFFF;
}

.price_section_contact_img {
  width: 152px;
  height: 175px;
}