html {
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, ul, p, h1, h2, h4 {
  margin: 0;
}

.width_wrapper {
  max-width: 1222px;
  margin: 0 auto;
}

/* Header styles */
.header {
  width: 100%;
  padding: 42px 109px 42px 111px;
  background-color: #EDF2EC;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo_img {
  width: 20px;
  height: 20px;
  margin-bottom: 6px;
}

.header__logo_text {
  color: #000000;
}

.header__nav_menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  line-height: 50px;
}

.header__nav_menu_item {
  margin-right: 46px;
}

.header__nav_menu_item_home {
  margin-right: 43px;
}

.header__nav_menu_item_about {
  width: 67px;
  margin-right: 49px;
}

.header__nav_menu_item:last-child {
  margin-right: 0;
}

.header__nav_menu_item_link {
  color: #010201;
  text-decoration: none;
  transition: .5s;
}

.header__nav_menu_item_link:hover {
  color: #E06733;
  font-weight: 700;
}

/* Main styles */
/* Title section */
.title_section {
  width: 100%;
  padding: 60px 109px 64px 109px;
  background-color: #EDF2EC;
  color: #636060;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}

.title_section_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.title_section_img {
  width: 450px;
  height: 408px;
}

.title_section_text {
  max-width: 549px;
}

.title_section_header {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-bottom: 5px;
}

.title_section_header_capture {
  color: #499A18;
}

.title_section_header_button {
  margin-top: 4px;
  margin-bottom: 31px;
  width: 158px;
  height: 32px;
  border: 2px solid #E06733;
  border-radius: 10px;
  background: #EDF2EC;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  transition: .5s;
}

.title_section_header_button:hover {
  cursor: pointer;
  background: #E06733;
  color: #FFFFFF;
}

/* About section */
.about_section {
  width: 100%;
  padding: 93px 109px 94px 109px;

}

.about_section_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about_section_text {
  max-width: 605px;
  padding-top: 10px;
}

.about_section_header {
  max-width: 463px;
  margin-bottom: 38px;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.about_section_header_capture {
  color: #E06733;
}

.about_section_description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.about_section_img {
  width: 465px;
  height: 479px;
}

/* Service section */
.service_section {
  width: 100%;
  padding: 40px 109px 40px 109px;
  background: #EDF2EC;
}

.service_section_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.service_section_headerWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
}

.service_section_header {
  max-width: 305px;
  margin-right: 140px;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.service_section_nav_menu {
  padding: 1px 0 0 3px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service_section_nav_menu_item_button {
  padding: 0;
  width: 161px;
  height: 50px;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: inherit;
  margin-right: 40px;
  transition: .5s;
}

.service_section_nav_menu_item_button:hover {
  cursor: pointer;
  background-color: #E06733;
  color: #FFFFFF;
}

.service_section_contentWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}

.service_section_content_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 330px;
  max-height: 450px;
  margin-bottom: 55px;
  border-radius: 20px;
  border: 1px solid #E3E1D5;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.service_section_content_item_img {
  width: 100%;
}

.service_section_content_item_header {
  margin: 10px auto 15px auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
}

.service_section_content_item_description {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

/* Price Section */
.price_section {
  width: 100%;
  padding: 40px 109px 115px 109px;
}

.price_section_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price_section_prices_header {
  margin-bottom: 60px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.price_section_prices_content {
  width: 332px;
  height: 282px;
  padding: 19px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.price_section_prices_content_item {
  width: 250px;
  height: 50px;
  padding: 15px 40px;
  background: #EDF2EC;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.price_section_prices_content_item:hover {
  cursor: pointer;
}

.price_section_prices_content_item_name {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.price_section_prices_content_item_btn {
  width: 16px;
  height: 16px;
}

.price_section_contactWrapper {
  max-width: 455px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}

.price_section_contact_header {
  margin-bottom: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
}

.price_section_contact_header_capture {
  color: #499A18;
}

.price_section_contact_btn {
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  padding: 0;
  background-color: #FFFFFF;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  transition: .5s;
}

.price_section_contact_btn:hover {
  cursor: pointer;
  background-color: #E06733;
  color: #FFFFFF;
}

.price_section_contact_img {
  margin-top: 40px;
  width: 152px;
  height: 175px;
}

/* Contacts section */
.contacts_section {
  background: #EDF2EC;
  padding: 53px 109px 0 109px;
}

.contacts_section_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts_section_img {
  width: 400px;
  height: 495px;
}

.contacts_section_header {
  margin-left: 45px;
  margin-top: 7px;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.contacts_section_btn {
  margin-top: 95px;
  width: 450px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px 0 20px;
}

.contacts_section_btn:hover {
  cursor: pointer;
}

.contacts_section_btn_text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}

.contacts_section_btn_img {
  width: 16px;
  height: 16px;
  background: #AEA1A1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts_section_btn_arrow {
  width: 5px;
}

/* Footer styles */
.footer {
  width: 100%;
  padding: 40px 109px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__github {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__github * {
  margin-right: 20px;
}

.footer__github_link {
  text-decoration: none;
  color: #000000;
}

.footer__rsschool_link {
  text-decoration: none;
  color: #000000;
}

.footer__icons {
  list-style: none;
  width: 188px;
  height: 50px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__icons_img {
  width: 32px;
  height: 32px;
}